@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.container, .header-section, .markingSection, #pricingSection {
  margin-left: 2%;
  margin-right: 2%;
}

.felx-row, .mini-card-parent, .mini-card-parent .mini-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.displayFlex, .lastSection, footer .social-icons, footer .footer-end, .markingSection, .markingSection .markingSectionMini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lastSection, footer .social-icons, footer .footer-end {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: -370px;
  font-size: 50px;
  color: white;
}

/*================== NAVBAR Section ==================*/
nav {
  margin-top: 30px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav img {
  width: 120px;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav ul li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-size: 1.2em;
}

nav ul li a:hover {
  background-color: black;
  color: white;
}

.play-icon {
  font-size: 30px;
  margin-right: 10px;
}

/*================== Banner Section ==================*/
.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.header-section .heading {
  font-size: 3em;
}

.header-section .heading-des {
  font-size: 1.25em;
  margin-right: 40px;
  width: 550px;
}

.mini-card-parent {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mini-card-parent .mini-card {
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  width: 245px;
}

.mainHeading, .mainHeading2 {
  margin-top: 80px;
  font-size: 3em;
  text-align: center;
}

.mainHeading2 {
  margin-top: 20px;
}

.slogan {
  font-size: 1.25em;
  text-align: center;
}

/*================== Features Section ==================*/
.markingSection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.markingSection .markingSectionMini {
  width: 380px;
}

.markingSection .markingSectionMini .textAlignment1 {
  text-align: right;
  margin-right: 15px;
}

.markingSection .markingSectionMini .shareIcon, .markingSection .markingSectionMini .shareIcon2 {
  margin-top: 12px;
  font-size: 40px;
  color: darkturquoise;
  margin-right: 15px;
  margin-left: 15px;
}

.appleLogo {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  margin-top: 80px;
  -webkit-box-shadow: 5px 5px 7px 5px rgba(20, 18, 18, 0.123);
          box-shadow: 5px 5px 7px 5px rgba(20, 18, 18, 0.123);
  border-radius: 50%;
}

/*================== Pricing Section ==================*/
#pricingSection .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

#pricingSection .cards .pricingCard {
  height: 630px;
  width: 430px;
  background-color: rgba(204, 221, 253, 0.082);
  padding-left: 40px;
  padding-top: 60px;
  border-radius: 50px 3px 50px 3px;
  -webkit-box-shadow: 5px 5px 15px rgba(177, 177, 177, 0.514);
          box-shadow: 5px 5px 15px rgba(177, 177, 177, 0.514);
  margin-bottom: 30px;
}

#pricingSection .cards .pricingCard .planningHeader {
  background: linear-gradient(45deg, #0171bd, #00ccff);
  border-radius: 35px 3px 35px 3px;
  width: 350px;
  height: 150px;
}

#pricingSection .cards .pricingCard .planningHeader .planningText {
  padding-top: 40px;
  padding-left: 100px;
  color: white;
}

#pricingSection .cards .pricingCard .btn {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: 0px;
  background-color: #0171bd;
  color: white;
  font-size: 18px;
  margin-left: 100px;
}

#pricingSection .cards .listDesign {
  padding: 25px;
}

#pricingSection .cards .listDesign li {
  margin-top: 15px;
}

.clints-review {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
}

.clints-review .review {
  width: 350px;
}

.clints-review .review .comments {
  background-color: rgba(163, 148, 148, 0.089);
  padding: 20px;
}

.clints-review .review .comments .intro {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clints-review .review .comments .intro .star {
  background-color: white;
  padding: 6px;
  border-radius: 12px 1px 12px 1px;
  width: 90px;
}

/*================== Footer Section ==================*/
.footerBG::before {
  content: "";
  position: absolute;
  background: url("../images/back.png") no-repeat center center/cover;
  height: 750px;
  top: 2970px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 1;
}

footer .footerHeader {
  position: relative;
  top: 460px;
  color: white;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

footer .footerHeader .downloadHead {
  font-size: 3em;
}

footer .footerHeader .downloadsec {
  font-size: 2em;
}

footer .footerHeader .mini-card-in-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

footer .footerHeader .mini-card-in-footer .mini-card-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-icons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 480px;
  margin-left: 22%;
  margin-right: 300px;
}

footer .footer-end {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  top: 495px;
  margin-left: 50px;
  margin-right: 50px;
}

footer .endLine {
  border: 4px solid #0171bd;
  position: relative;
  top: 505px;
  margin-left: 78px;
  margin-right: 78px;
  border-radius: 5px;
}

footer .lastLine {
  text-align: center;
  color: white;
  position: relative;
  top: 520px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 619px) {
  header nav {
    right: 0;
    margin-left: 37%;
  }
  .header-section .bannerTextContainer {
    text-align: center;
    width: 300px;
    margin-left: 3%;
  }
  .header-section .bannerTab {
    margin-left: 35%;
  }
  .cardContainer {
    margin-left: 25%;
    margin-right: -100px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
  header nav {
    right: 0;
    margin-left: 37%;
  }
  nav img {
    width: 75px;
    height: 40px;
  }
  nav ul {
    list-style-type: none;
  }
  nav ul li a {
    padding: 3px;
    font-size: 0.8em;
  }
  .header-section {
    margin-left: 25%;
  }
  .bannerText {
    width: 300px;
  }
  .header-section .heading {
    font-size: 30px;
    font-weight: bold;
    width: 390px;
  }
  .header-section .heading-des {
    font-size: 15px;
    width: 390px;
  }
  .bannerTab img {
    width: 350px;
    margin-top: 15%;
    margin-left: 10%;
  }
  .markingContainer {
    margin-left: 30%;
  }
  .tabcurl {
    width: 250px;
  }
  .mainHeading, .mainHeading2 {
    font-size: 2em;
    font-weight: bold;
  }
  .slogan {
    font-size: 25px;
  }
  #pricingSection {
    margin-left: 30%;
  }
  .clints-review {
    margin-left: 30%;
  }
  .review {
    margin-top: 25%;
  }
  .footerBG::before {
    height: 1400px;
    top: 4700px;
    left: 0px;
    width: 141%;
    z-index: -1;
    opacity: 1;
  }
  footer .footerHeader {
    margin-left: 35%;
  }
  footer .footerHeader .mini-card-parent {
    margin-left: 12%;
  }
  footer .footerHeader .downloadHead {
    font-size: 2em;
  }
  footer .footerHeader .downloadsec {
    font-size: 1em;
  }
  footer .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 70%;
  }
  footer .footer-end > h1 {
    display: none;
  }
  footer .footer-end {
    display: none;
  }
  footer .endLine {
    margin-left: 25%;
    width: 95%;
  }
  .lastLine {
    margin-left: 4%;
    width: 130%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  nav {
    right: 0;
    margin-left: 15px;
  }
  nav img {
    width: 75px;
    height: 40px;
  }
  nav ul {
    list-style-type: none;
    margin-left: 20px;
  }
  nav ul li a {
    padding: 3px;
    font-size: 0.8em;
  }
  .header-section {
    margin-left: 6%;
  }
  .bannerText {
    width: 300px;
  }
  .header-section .heading {
    font-size: 30px;
    font-weight: bold;
    width: 390px;
  }
  .header-section .heading-des {
    font-size: 15px;
    width: 390px;
  }
  .bannerTab img {
    width: 300px;
    margin-top: 15%;
    margin-left: 10%;
  }
  .markingContainer {
    margin-left: 30%;
  }
  .tabcurl {
    width: 250px;
  }
  .mainHeading, .mainHeading2 {
    font-size: 2em;
    font-weight: bold;
  }
  .slogan {
    font-size: 25px;
  }
  #pricingSection {
    margin-left: 30%;
  }
  .clints-review {
    margin-left: 30%;
  }
  .review {
    margin-top: 25%;
  }
  .footerBG::before {
    height: 1280px;
    top: 4900px;
    left: 0px;
    width: 141%;
    z-index: -1;
    opacity: 1;
  }
  footer .footerHeader {
    margin-left: 35%;
  }
  footer .footerHeader .mini-card-parent {
    margin-left: 12%;
  }
  footer .footerHeader .downloadHead {
    font-size: 2em;
  }
  footer .footerHeader .downloadsec {
    font-size: 1em;
  }
  footer .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 70%;
  }
  footer .footer-end > h1 {
    display: none;
  }
  footer .footer-end {
    display: none;
  }
  footer .endLine {
    margin-left: 25%;
    width: 95%;
  }
  .lastLine {
    margin-left: 4%;
    width: 130%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 912px) {
  nav {
    right: 0;
    margin-left: 15px;
  }
  nav img {
    width: 75px;
    height: 40px;
  }
  nav ul {
    list-style-type: none;
    margin-left: 20px;
  }
  nav ul li a {
    padding: 3px;
    font-size: 0.8em;
  }
  .header-section {
    margin-left: 6%;
  }
  .bannerText {
    width: 300px;
  }
  .header-section .heading {
    font-size: 30px;
    font-weight: bold;
    width: 390px;
  }
  .header-section .heading-des {
    font-size: 15px;
    width: 390px;
  }
  .bannerTab img {
    width: 300px;
    margin-top: 15%;
    margin-left: 10%;
  }
  .markingContainer {
    margin-left: 30%;
  }
  .tabcurl {
    width: 250px;
  }
  .mainHeading, .mainHeading2 {
    font-size: 2em;
    font-weight: bold;
  }
  .slogan {
    font-size: 25px;
  }
  #pricingSection {
    margin-left: 30%;
  }
  .clints-review {
    margin-left: 30%;
  }
  .review {
    margin-top: 25%;
  }
  footer .footerHeader .mini-card-in-footer .mini-card-parent {
    margin-left: 10%;
  }
  .footerBG::before {
    height: 1100px;
    top: 4500px;
    left: 0px;
    width: 141%;
    z-index: -1;
    opacity: 1;
  }
  footer .footerHeader {
    margin-left: 35%;
  }
  footer .footerHeader .mini-card-parent {
    margin-left: 12%;
  }
  footer .footerHeader .downloadHead {
    font-size: 2em;
  }
  footer .footerHeader .downloadsec {
    font-size: 1em;
  }
  footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 38%;
    margin-right: 0;
  }
  footer .footer-end > h1 {
    display: none;
  }
  footer .footer-end {
    display: none;
  }
  footer .endLine {
    margin-left: 25%;
    width: 95%;
  }
  .lastLine {
    margin-left: 4%;
    width: 130%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 913px) and (max-device-width: 995px) {
  .footerBG::before {
    height: 900px;
    top: 4200px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
  }
}

@media only screen and (min-device-width: 996px) and (max-device-width: 1177px) {
  .footerBG::before {
    height: 900px;
    top: 3500px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
  }
  footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0%;
    margin-right: 0;
  }
}

@media only screen and (min-device-width: 1209px) {
  .footerBG::before {
    height: 900px;
    top: 2900px;
    left: 0%;
    width: 100%;
    z-index: -1;
    opacity: 1;
  }
  footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0%;
    margin-right: 0;
  }
}
/*# sourceMappingURL=index.css.map */