@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import "reset" ;
@import "vars";
@import "common";




/*================== NAVBAR Section ==================*/
nav{
    margin-top: 30px;
    right: 0;
    display: flex;
    justify-content: space-around;
    img{
        width: 40px;
    }
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            color: white;
            text-decoration: none;
            a{
                display: inline-block;
                color: rgb(0, 0, 0);
                text-decoration: none;
                padding: 10px;
                transition: 0.5s;
                border-radius: 5px;
                font-size: 1.2em;
            }
            a:hover{
                background-color: black;
                color: white;
            }
        }
    } 
}



.play-icon{
    font-size: 30px;
    margin-right: 10px;
}
/*================== Banner Section ==================*/
.header-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    @extend .container;
    padding: 20px;
    .heading{
        font-size: $headingSize;
    }
    .heading-des{
        font-size: $paragraphFontSize;
        margin-right: 40px;

        
    }
    
}

.mini-card-parent{
    @extend .felx-row;
    
    .mini-card{
        @extend .felx-row;
        margin-right: 20px;
        background-color: black;
        color: white;
        padding: 8px 20px;
        border-radius: 8px;
    }
}




.mainHeading{
    margin-top: 80px;
    font-size: $headingSize;
    text-align: center;
}
.mainHeading2{
    @extend .mainHeading;
    margin-top: 20px;
}

.slogan{
    font-size: $paragraphFontSize;
    text-align: center;
}



/*================== Features Section ==================*/
.markingSection{
    @extend .displayFlex;
    @extend .container;
    align-items: center;
    margin-top: 50px;

    .markingSectionMini{
        @extend .displayFlex;

        .textAlignment1{
            text-align: right;
            margin-right: 15px;
        }
        .shareIcon{
            margin-top: 12px;
            font-size: 40px;
            color: darkturquoise;
            margin-right: 15px;
            margin-left: 15px;
        }
        .shareIcon2{
            @extend .shareIcon;
            
        }
        
    }
}


.appleLogo{
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    margin-top: 80px;
    box-shadow: 5px 5px 7px 5px rgba(20, 18, 18, 0.123);
    border-radius: 50%;
}


/*================== Pricing Section ==================*/

#pricingSection{
    @extend .container;

    .cards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;

        .pricingCard{
            height: 630px;
            width: 430px;
            background-color: rgba(204, 221, 253, 0.082);
            padding-left: 40px;
            padding-top: 60px;
            border-radius: 50px 3px 50px 3px;
            box-shadow: 5px 5px 15px rgba(177, 177, 177, 0.514);
            
    
            .planningHeader{
                
                background: linear-gradient(45deg, #0171bd, rgb(0, 204, 255));
                border-radius: 35px 3px 35px 3px;
                width: 350px;
                height: 150px;
            
                .planningText{
                    padding-top: 40px;
                    padding-left: 100px;
                    color: white;
        
                }
            }
            .btn{
                width: 150px;
                height: 45px;
                border-radius: 5px;
                border: 0px;
                background-color: #0171bd;
                color: white;
                font-size: 18px;
                margin-left: 100px;
    
            }
    
        }
        .listDesign{
            padding: 25px;
            li{
                margin-top: 15px;
            }
        }
    }

    
}



/*================== Footer Section ==================*/

.footerBG::before{
    
    content: "";
    position: absolute;
    background: url('../images/back.png') no-repeat center center/cover;
    height: 700px;
    top:2470px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:1;
    
}

footer{
    .footerHeader{
        position: relative;
        top: 460px;
        color:white;
        text-align: center;
        font-family: 'Bree Serif', serif;
        .downloadHead{
            font-size: $headingSize;
        }
        .downloadsec{
            font-size: 2em;
        }

        .mini-card-in-footer{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        
        }
    }
    .social-icons{
        @extend .lastSection;
        top: 480px;
        margin-left: 300px;
        margin-right: 300px;
    }
    .footer-end{
        @extend .lastSection;
        justify-content: space-around;
        font-size: 12px;
        top: 495px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .endLine{
        border: 4px solid #0171bd;
        position: relative;
        top: 505px;
        margin-left: 78px;
        margin-right: 78px;
        border-radius: 5px;
    }
    .lastLine{
        text-align: center;
        color: white;
        position: relative;
        top: 520px;
    }
    
}
